# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs file
*.opensdf
*.suo
*.sdf
*.user
*.sln

# our local dir
/bin
/licode
/RTCS
/RTCSP2P
/RTCSSerialize
/Sphinx
/WinHookException
/RTCSCoreSDK
/RTCSSDKForC
!sample/
/sample/*
!/sample/CSDKExample
**/Debug/
**/Release/
**/GeneratedFiles/
/rtcs-room
